<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.neuerung.MADP"
    android:versionCode="4"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <permission
        android:name="mobi.neuerung.MADP.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="mobi.neuerung.MADP.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="mobi.neuerung.MADP.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mobi.neuerung.MADP.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="mobi.neuerung.MADP.MyUIApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="HardcoredClientCode"
            android:value="" >
        </meta-data>
        <meta-data
            android:name="HardcoredEventCode"
            android:value="" >
        </meta-data>
        <meta-data
            android:name="client"
            android:value="" >
        </meta-data>
        <meta-data
            android:name="EMGUrl"
            android:value="http://203.190.149.92/MADPlatform/Services/" >
        </meta-data>
        <meta-data
            android:name="mainDirectoryName"
            android:value="Android/data/mobi.neuerung.MADP" >
        </meta-data>

        <!-- "True" to show exit icon on client screen -->
        <meta-data
            android:name="showexitbtn"
            android:value="false" >
        </meta-data>

        <!-- "True" to back icon on event screen -->
        <meta-data
            android:name="showbackonevent"
            android:value="false" >
        </meta-data>

        <!-- "True" to back icon on home screen -->
        <meta-data
            android:name="showbackonhome"
            android:value="false" >
        </meta-data>

        <!-- "True" to show QR code icon on client screen -->
        <meta-data
            android:name="showQRCodeonClient"
            android:value="true" >
        </meta-data>

        <!-- "True" to show QR code icon on event screen -->
        <meta-data
            android:name="showQRCodeonEvent"
            android:value="true" >
        </meta-data>

        <!-- Title Text to show on Client screen -->
        <meta-data
            android:name="TitleTextonClient"
            android:value="Client" >
        </meta-data>

        <!-- Title Text to show on event screen -->
        <meta-data
            android:name="TitleTextonEvent"
            android:value="Event" >
        </meta-data>

        <!-- Search Hint Text to show on Client screen -->
        <meta-data
            android:name="SearchHintTextonClient"
            android:value="Search MADP Client" >
        </meta-data>

        <!-- Search Hint Text to show on event screen -->
        <meta-data
            android:name="SearchHintTextonEvent"
            android:value="Search MADP Event" >
        </meta-data>

        <!--
        <meta-data
            android:name="pushsenderid"
            android:value="790548963306" >
        </meta-data>
        -->

        <activity
            android:name="mobi.neuerung.MADP.DefaultSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobi.neuerung.MADP.Splash0"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="mobi.neuerung.MADP.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="mobi.neuerung.MADP.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="mobi.neuerung.MADP.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="mobi.neuerung.MADP.GoogleMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <!--
             <service android:name="mobi.neuerung.Sevices.GetMessageService" >
        </service>
        -->


        <!--
        <activity
            android:name=".ImageGridActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD1JTKtD4XzmCIj4SaZH8OHEUaK7MOydy0" />

        <!-- BroadcastReceiver. -->

       <!--  <receiver
            android:name="mobi.neuerung.MADP.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="mobi.neuerung.MADP" />
            </intent-filter>
        </receiver> -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="mobi.neuerung.MADP" />
            </intent-filter>
        </receiver>
        
        <!-- Add service Intent. -->
        <service android:name="mobi.neuerung.MADP.GCMIntentService" />
        
    </application>

</manifest>